* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbg Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background-color: #1f1f1f;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.zrodlaTlo{
    background-color: rgb(58, 58, 58);
}

.siema{
    text-align: center;
    color: green;
    margin-top: 100px;
}


.siemaDWA{
    text-align: center;
    color: green;
    margin-top: 100px;
    font-size: x-large;
}

.siemaTRZY{
    text-align: center;
    color: green;
    margin-top: 10px;
    font-size: x-large;
}

.paragraphMarginCenter{
    text-align: center;
    color: white;
    margin-top: 50px;
    line-height: 2;
    font-size: x-large;
    text-decoration: none;
}

.navbarChapters{
    background-color: #303030;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 10px;
    z-index: 999;
}

.navbar_menuChapters{
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 0px;
}

.navbar_itemChapter{
    height: 80px;
    width: 800px;
    align-items: center;
}

.navbar_linksChapter{
    color: #fff;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: medium;
    text-align: center;
    width: 120px;
    text-decoration: none;
    height: 100%;
    margin-right: 100px;
}

.navbar_containerChapters{
    display: flex;
    justify-content:space-around;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background: #1f1f1f;
    background-size: 100%;
    display: flex;
    align-items: center;
    color: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item{
    height: 80px;
    text-align: center;
}

.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-decoration: none;
    height: 100%;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 50%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px 20px;
    height: 100%;
    width: 25%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
    

}

.navbar li{
    display: inline-block;
    padding: 0 20px;
}

.banner{
    background-color: black;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}

.under{
    background-color: black;
    color : white;
    text-align: center;
}

.biggerFont{
    font-size:xx-large;
    text-align:center;
}

.polewo{
    text-align: center;
    margin-right: 80px;
}

.smallFont{
    font-size: small;
    text-align: center;
}

.middleFont{
    font-size: x-large;
    text-align: center;
}

.stronaGlowna{
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    text-shadow: px 4px #7c7c7c;
}

.centerText{
    text-align: center;
}

.problemSkoczka{
    font-size:small;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 80px;
    text-align: center;
}

.ruchskoczkaSzachy{
    width: 100px;
    height: auto;
    margin-left: 750px;
    margin-top: -55px;
}

img.animated-gif{
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 100px;
    margin-right: 80px;
}

a.blue{
    color: green;
    text-decoration: none;
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.textColor{
    text-decoration: #fd1d1d;
}

.img-with-text { 
    text-align: justify; 
    width: [width of img]; 
} 
 
.img-with-text img { 
    display: block; 
    margin: 0 auto; 
}
a{
    color: blue;
}

a.visited {
    color: #636;
  }

a.hover, a.active, a.focus {
    color:white;
}

.titleRozdzial{
    text-align: center;
    width: 400px;
    font-size: xx-large;
    margin-right: 1200px;
    margin-top: -300px;
    margin-left: 140px;
}

.item{
    width:400px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-right: auto;
    margin-left: 1400px;
  }
  #toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: inline-block;
    font-size: 95%;
    margin-top: 40em;
    padding: 20px;
    width: 200px;
    align-content: left;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

.paragraphMargin{
    margin-left: 195px;
    margin-top:25px;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.zamknietaDroga {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: -419px;
    margin-right: 500px;
}

.zamknietaDrogaTxt{
    font-size:small;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 500px;
    text-align: center;
}


.strzalkaLewo{
    font-size:small;
    width: 20px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: -370px;
    margin-right: 330px;
    text-align: center;
}

.trzyxtrzyskoczek {
    width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 35px;
    margin-right: 1270px;
}

.czteryxczterySkoczek{
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: -40px;
    margin-right: 940px;
}

img.siema {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 100px;
    margin-right: 1210px;
}

.cztxcztTxt{
    font-size:medium;
    margin-left: 195px;
    margin-top: -90px;
}

.titleRozdzialDWA{
    text-align: center;
    width: 800px;
    font-size: xx-large;
    margin-right: 1200px;
    margin-top: 100px;
    margin-left: 128px;
}

.dottedMargin{
    margin-left: 250px;
    margin-top: 10px;
}

.dottedMarginWhite{
    margin-left: 250px;
    margin-top: 10px;
    color: white;
}

.paragraphMarginTRZY{
    font-size: x-large;
    font-weight: bold;
    margin-left: 195px;
    margin-top: 100px;
}


.paragraphMarginCZT{
    font-size: large;
    font-weight: bold;
    margin-left: 195px;
    margin-top: 20px;
}

.titleRozdzialTRZY {
    text-align: center;
    width: 600px;
    font-size: xx-large;
    margin-left: 160px;
    margin-top: 100px;
}

.paragraphMarginPIENC{
    font-size: large;
    font-weight: bold;
    margin-left: 195px;
    margin-top: 20px;
}

img.drogaNiebieskiego{
    margin-left: 1300px;
    margin-top: -660px;
}

.dwanjdndwa{
    margin-left: 600px;
    margin-top: 10px;
    height: 50px;
    width:auto;
}

.przyklad{
    margin-left: 300px;
    margin-top: 40px;
    height: 100px;
    width:auto;
}

.divHeight{
    height: 1000px;
}

.titleRozdzialCZT{
    text-align: center;
    width: 600px;
    font-size: xx-large;
    margin-left: 110px;
    margin-top: 100px;
}

.krzywaJordana{
    margin-left: 1250px;
    margin-top: -200px;
}

.krzywaJordanaDWA{
    font-size: xx-small;
    margin-left: 1600px;
    margin-top: -20px;
}

.krzywaJordanaOpis{
    font-size:medium;
    margin-left: 1650px;
    width: 200px;
    margin-top: -270px;
    text-align: center;
}